* text=auto eol=lf

*.blade.php linguist-language=PHP
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

vendor/* linguist-vendored
node_modules/* linguist-vendored
storage/* linguist-vendored
public/* linguist-vendored
.env linguist-vendored
*.env.example linguist-vendored
*.json linguist-vendored
*.lock linguist-vendored

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore