* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
vendor/* linguist-vendored
node_modules/* linguist-vendored
public/* linguist-vendored
resources/js/* linguist-vendored
resources/css/* linguist-vendored
storage/* linguist-vendored
.env linguist-vendored
*.json linguist-vendored
*.lock linguist-vendored

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
